global.css
body {
  font-family: 'Open Sans', sans-serif;
  color: #333; /* default text color */
  background-color: #f8f9fa; /* default background color */
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #1a202c; /* default heading color */
  font-weight: bold;
}

a {
  color: #2d3748; /* default link color */
  text-decoration: none;
}

a:hover {
  color: #4a5568; /* link hover color */
}

/* nuke the autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1C1C1C inset !important;
  background-color: #1C1C1C !important;
  color: white !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
}
