@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Erica+One&family=Londrina+Outline&family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*landing page clip path*/
.clip-path-custom {
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
}

/*input error message and border styles*/
input {
  width: 100%;
  background-color: transparent;
  outline: none;
}

.input-error {
  border: 1px solid #e53e3e;
}

.placeholder-error::placeholder {
  color: #e53e3e;
}

.border {
  border: 1px solid #cbd5e0;
}

.border-slate-300 {
  border-color: #cbd5e0;
}

.cursor-pointer img {
  height: 20px;
  width: 20px;
}

.error-message {
  color: #e53e3e;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

/*form separator element*/
.separator {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  width: 350px;
  margin-bottom: 1rem;
}

.separator-text {
  margin: 0 0.75rem;
}


/*animated link hover*/
.animated-link {
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.animated-link:hover {
  color: #fff;
}

.animated-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.animated-link:hover::after {
  width: 100%;
}

.line {
  flex-grow: 1;
  border-top: 1px solid #ffffff;
}

/* Style for the checkbox container */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 2.6rem; 
}

/* Style for the checkbox itself */
.checkbox-container input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 8px; 
  accent-color: #ffffff; 
}

/* Style for the label */
.checkbox-container label {
  font-size: 14px;
  color: #ffffff; 
  cursor: pointer;
}

/*lenis configs*/
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: absolute;
  color: #fff;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #7a7a7a;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
